h1,h2,h3{font-family: sans-serif;}
.container{
    margin-top: 20px;
padding-bottom: 30px;
padding-top: 10px;
}

.nav-link{
color:rgba(0, 0, 0, 0.7);
font-family: sans-serif;
}
.buy-now{
color: white;
background-color: black;
padding:10px 20px;
border-radius: 10px;
}
.information-products{
 line-height: 32px;
 word-spacing: 3px; 
 padding:5px
}
.card{
    padding:5%;
border:none;
box-shadow: 10px 10px 21px rgba(128, 128, 128, 0.103);
}

.decrase-width:hover{
    text-decoration: none;
    
}
#after-effects{
position: relative;
}
#after-effects::after{
position: absolute;
content: "";
width:150px;
height: 10px;
background-color: orange;
border-radius:5px;
left:50%;
transform: translateX(-50%);
margin-top: 3px;

}
.carousel-indicators .active{
    opacity:1;
}
.carousel-indicators li {
    height: 8px;
    background-color: orange;
margin-top:10px;
}
.bg-white{
box-shadow: 3px 3px 12px rgba(128, 128, 128, 0.37);
border-radius:8px;
padding:24px 20px;
}